<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <link href="./style4.css" rel="stylesheet">
     
</head>

<body>
    <div class="suc">
    <h1>Success!!</h1>
    <h4>Your Email has been verified.</h4>
    </div>
    
</body>
</html>